{% extends "base.html" %}

{% load humanize %} 

{% load static %}

{% block content %}		
    <div class="content">
		<div class="row">
            <div class="col-sm-5" style="color: #fff; padding-left: 20px; background-color: #ca224b;">
                <div align="center">
                    <h3><span style="color: #e3e3e3;"><b>Réservation à la demande</b></span></h3>
                    <h4><span style="color: #e3e3e3;"><b>({{reservation.get_type_display}})</b></span></h4>
                </div>
                <br/>
                <div align="center">
                    <i style="color: #e3e3e3; font-size: medium;"><b>DETAILS DE VOTRE COMMANDE</b></i>
                    <div class="card">
                        <div class="card-body" style="margin-top: -25px;">
                            <hr>
                            <h5 style="color: #e3e3e3;"> <b>Adresse de départ:</b> <span id="depart">{{reservation.adresse_depart}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Adresse d'arrivée:</b> <span id="arrivee">{{reservation.adresse_arrivee}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Voyage:</b> <span id="distance">{% if reservation.aller_retour %}Aller-retour{% else %}Aller simple{% endif %}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>NB passager(s):</b> <span id="distance">{{reservation.nb_passager}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Prix:</b> <span id="distance">{{reservation.prix}} €</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Date:</b> <span id="duree">{{reservation.date}} à {{reservation.depart}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Statut:</b> <span id="duree">{{reservation.get_statut_display}}</span></h5>
                            <hr>
                            <h5 style="color: #e3e3e3;"> <b>Voiture:</b> <span id="duree">{{reservation.voiture.marque}} {{reservation.voiture.modele}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>N° matricule:</b> <span id="duree">{{reservation.voiture.numero}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Chauffeur:</b> <span id="duree">{{reservation.voiture.chauffeur.full_name}}</span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Contact:</b> <span id="duree">{{reservation.voiture.chauffeur.phone}}</span></h5>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-7">
              {% if reservation.voiture %}
              <img style="height: 450px; width: 100%;" src="{{ reservation.voiture.avatar.url }}" alt="VOITURE"></img>
              {% else %}
              <img style="height: 450px; width: 100%;" src="{% static '/img/unavailable.png' %}" alt="NON DISPONIBLE"></img>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    
{% endblock %}