{% extends "base.html" %}

{% load humanize %} 

{% load static %}

{% load reservation_filter %}

{% load helper_filter %}

{% block content %}		
    <div class="content">
        <div align="left">
            <h3><span style="color: #454243;"><b>Réservations à la demande</b></span></h3>
        </div>
		<div class="row" style="margin-top: 20px;">
            
                  {% for reservation in reservations %}
                  <div class="col-6 col-sm-4 col-lg-2">
                      <div class="card card-primary bg-danger-gradient">
                          <div class="card-body curves-shadow" style="color: #e3e3e3;">
                            {% if reservation.type == 1 %}
                              <img style="height: 175px; width: 100%;" src="{% static '/img/demand_hybrid1.jpg' %}" alt="EXCLUSIV ON DEMAND (HYBRID)"></img>
                            {% elif reservation.type == 0 %}
                              <img style="height: 175px; width: 100%;" src="{% static '/img/demand_electric1.jpg' %}" alt="EXCLUSIV ON DEMAND (ELECTRIC)"></img>
                            {% else %}
                              <img style="height: 175px; width: 100%;" src="{% static '/img/shared1.jpg' %}" alt="EXCLUSIV ON DEMAND (SHARED)"></img>
                            {% endif %}
                              <div align="center" style="margin-top: 10px;"><h4><b>Réservation {{ reservation.get_type_display }}</b></h4></div>
                              <div align="center">
                                <span>
                                  <a href="{% url 'reservation_demande_detail' reservation.pk %}" target="_blank" class="btn" style="background-color: #454243; color:#fff"><i class="fa fa-solid fa-eye" style="color: #ffffff;margin-right: 5px;"></i>Détail</a>
                                  {% if reservation.statut == 1 %}
                                  <a href="{% url 'view_pdf_invoice' pk=reservation.id %}" name="pdf-attachement" value="PDF" title="Facture" class="btn" style="background-color: #454243; color:#fff; margin-left: 10px;"><i class="fa fa-file-pdf-o" style="color:#ffffff;margin-right: 5px;"></i>Facture</a>
                                  {% endif %}
                                </span>
                              </div>
                              <div align="center"><h5>{{reservation.adresse_depart}}</h5></div>
                              <div align="center"><h5>{{reservation.adresse_arrivee}}</h5></div>
                              <div align="center">Le</div>
                              <div align="center"><h5>{{reservation.date}} à {{reservation.depart}}</h5></div>
                              <div align="center"><h4>{{reservation.prix}} €</h4></div>
                              <div align="center">
                                <h5><b>Statut de la commande</b></h5>
                              </div>
                              <div align="center">
                                {{reservation.get_statut_display}}
                              </div>
                              
                              <div align="center">
                              {% if reservation.statut == 0 %}
                              <form action="{% url  'charge' %}" method="post">
                                {% csrf_token %}
                                    <input type="number" hidden value="{{reservation.id}}" id="reservation_id" name="reservation_id">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-label="Payer"
                                        data-description="Paiement"
                                        data-amount="{{reservation.prix|get_stripe_price}}"
                                        data-currency="eur"
                                        data-locale="fr">
                                    </script>
                              </form>
                              {% elif reservation.statut == 1 %}
                                {% if request.user|is_inst_client %}
                                <form action="{% url  'refund' %}" method="post">
                                  {% csrf_token %}
                                  <input type="number" hidden value="{{reservation.id}}" id="reservation_id" name="reservation_id">
                                  <button class="btn" style="background-color: #454243; color:#fff">Annuler</button>
                                </form>
                                {% else %}
                                <form action="{% url  'terminer' %}" method="post">
                                  {% csrf_token %}
                                  <input type="number" hidden value="{{reservation.id}}" id="reservation_id" name="reservation_id">
                                  <button class="btn" style="background-color: #454243; color:#fff">Terminer</button>
                                </form>
                                {% endif %}
                              {% elif reservation.statut == 2 %}
                                <div align="center">
                                    <h5><b>{{reservation.prix|get_stripe_refund_price}} € remboursée</b></h5>
                                </div>
                              {% else %}
                                <div align="center">
                                    <h5></h5>
                                </div>
                              {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block javascript %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock %}