appdirs==1.4.3
APScheduler==3.8.1    
arabic-reshaper==2.1.3
asgiref==3.3.4        
astroid==2.5.6        
backports.zoneinfo==0.2.1
CacheControl==0.12.6
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
cryptography==38.0.4
cssselect2==0.4.1
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.1
distro==1.4.0
Django==3.2
django-allauth==0.51.0
django-bulk-admin==0.1.1
django-chartit==0.2.9
django-chartjs==2.2.1
django-crispy-forms==1.13.0
django-crontab==0.7.1
django-debug-toolbar==3.2.1
django-extensions==3.1.3
django-formtools==2.3
django-import-export==2.7.1
django-kronos==1.0
django-mail-templated==2.6.5
django-mathfilters==1.0.0
django-mssql-backend==2.8.1
django-phonenumber-field==6.0.0
django-pivot==1.8.1
django-widget-tweaks==1.4.8
-e git+https://github.com/chrisglass/django-xhtml2pdf.git@d3d7dc527788953adf02a6d99e37dee225bd8c51#egg=django_xhtml2pdf
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
gobject==0.1.0
html5lib==1.0.1
idna==2.8
importlib-metadata==4.0.1
importlib-resources==5.4.0
ipaddr==2.2.0
isort==5.8.0
jdcal==1.4.1
lazy-object-proxy==1.6.0
lockfile==0.12.2
MarkupPy==1.14
mccabe==0.6.1
msgpack==0.6.2
numpy==1.19.5
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.0.9
packaging==20.3
pandas==1.1.5
pep517==0.8.2
phonenumberslite==8.12.56
Pillow==8.2.0
pipenv==2020.11.15
progress==1.5
psycopg2==2.8.6
pycparser==2.20
pydotplus==2.0.2
PyJWT==2.4.0
pylint==2.8.2
pyodbc==4.0.32
pyparsing==2.4.6
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
python-crontab==2.6.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytoml==0.1.21
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reflutter==0.7.1
reportlab==3.5.66
requests==2.22.0
requests-oauthlib==1.3.1
retrying==1.3.3
schedule==1.1.0
six==1.14.0
sqlparse==0.4.1
tablib==3.1.0
termcolor==1.1.0
tinycss2==1.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
urllib3==1.25.8
validate-email==1.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
WeasyPrint==52.5
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
xlrd==2.0.1
XlsxWriter==3.0.3
xlwt==1.3.0
zipp==3.4.1