<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py"
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="180" />
  </system.web>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\i-mobility" />
    <add key="WSGI_HANDLER" value="i-mobility.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="i-mobility.settings" />
  </appSettings>
</configuration>