{% extends "base.html" %}

{% load humanize %} 

{% load static %}

{% block content %}		
    <div class="content">
		<div class="row">
            <div class="col-sm-5" style="color: #fff; padding-left: 20px; background-color: #ca224b;">
                <div align="center">
                    <h3><span style="color: #e3e3e3;"><b>Livraison</b></span></h3>
                </div>
                <br/>
                <div id="instructions" align="center">
                    <div><h3 style="color: #e3e3e3; font-size: large;"><b>INSTRUCTIONS</b></h3></div>
                    <p style="color: #e3e3e3;">
                        Veuillez entrer les adresses source et destination de votre réservation au niveau de la carte pour calculer l'itinéraire.
                    </p>
                    <p style="color: #e3e3e3;">
                        Ensuite, veuillez passer votre commande.
                    </p>
                    <img style="height: 340px; width: 100%;" src="{% static '/img/livraison.png' %}" alt="LIVRAISON">
                    <br/>
                    
                </div>
                <div id="details" style="display: none;" align="center">
                    <h4 style="color: #e3e3e3; font-size: large;"><b>DETAILS DE VOTRE LIVRAISON</b></h4>
                    <div class="card">
                        <div class="card-body" style="margin-top: -25px;">
                            <hr>
                            <h5 style="color: #e3e3e3;"> <b>Adresse de départ:</b> <span id="depart"></span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Adresse d'arrivée:</b> <span id="arrivee"></span></h5>
                            <h5 style="color: #e3e3e3;"> <b>Distance:</b> <span id="distance"></span></h5><span hidden id="hidden_cost"></span>
                            <h5 style="color: #e3e3e3;"> <b>Durée du trajet:</b> <span id="duree"></span></h5>
                            <hr>
                            
                            <div align="center" style="margin-top: 5px;margin-bottom: 5px;"><button class="btn btn-large btn-success js-create-entity" data-url="{% url 'livraison_create' %}">Commander <span style="padding-left: 5px;"><i class='fa fa-check' style='color:#ffffff;'></i></span></button></div>
                            <img style="height: 250px; width: 100%;" src="{% static '/img/livraison.png' %}" alt="LIVRAISON">
                        </div>
                    </div>
                    
                </div>
                <div align="center" style="margin-top: 10px;"><a href="{% url 'livraison_list' %}" class="btn" style="background-color: #454243; color:#fff">Vos commandes</a></div>
            </div>
            <div class="col-sm-7">
                <!--  the map -->
                <div id='map'></div>
                
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        directions.on('route', (event) => {
            const instructions = document.getElementById('instructions');
            const details = document.getElementById('details');
            instructions.style.display = 'none';
            details.style.display = 'block';
            const mb_source = document.querySelector("#mapbox-directions-origin-input .mapboxgl-ctrl-geocoder input");
            const mb_destination = document.querySelector("#mapbox-directions-destination-input .mapboxgl-ctrl-geocoder input");
            const sp = document.getElementById('depart');
            const sp_arrivee = document.getElementById('arrivee');
            const sp_distance = document.getElementById('distance');
            const sp_duree = document.getElementById('duree');
            const mb_distance = document.querySelector(".mapbox-directions-route-summary h1");
            const mb_duree = document.querySelector(".mapbox-directions-route-summary span");
            let routes = event.route;
            sp.textContent=mb_source.value
            sp_arrivee.textContent=mb_destination.value;
            sp_distance.textContent=mb_distance.textContent;
            sp_duree.textContent=mb_duree.textContent;
        })
    </script>
{% endblock %}