{% extends "base.html" %}

{% load humanize %} 

{% load static %}

{% load livraison_filter %}

{% load helper_filter %}

{% block content %}		
    <div class="content">
        <div align="left">
            <h3><span style="color: #454243;"><b>Livraisons</b></span></h3>
        </div>
		<div class="row" style="margin-top: 20px;">
            
                  {% for livraison in livraisons %}
                  <div class="col-6 col-sm-4 col-lg-2">
                      <div class="card card-primary bg-danger-gradient">
                          <div class="card-body curves-shadow" style="color: #e3e3e3;">
                              <img style="height: 175px; width: 100%;" src="{% static '/img/demand_electric1.jpg' %}" alt="EXCLUSIV ON DEMAND (ELECTRIC)"></img>
                              <div align="center" style="margin-top: 10px;"><h4><b>Livraison</b></h4></div>
                              <div align="center">
                                <span>
                                  <a href="{% url 'livraison_detail' livraison.pk %}" target="_blank" class="btn" style="background-color: #454243; color:#fff"><i class="fa fa-solid fa-eye" style="color: #ffffff;margin-right: 5px;"></i>Détail</a>
                                  {% if livraison.statut >= 1 %}
                                  <a href="{% url 'view_livraison_pdf_invoice' pk=livraison.id %}" name="pdf-attachement" value="PDF" title="Facture" class="btn" style="background-color: #454243; color:#fff; margin-left: 10px;"><i class="fa fa-file-pdf-o" style="color:#ffffff;margin-right: 5px;"></i>Facture</a>
                                  {% endif %}
                                </span>
                              </div>
                              <div align="center"><h5>{{livraison.adresse_depart}}</h5></div>
                              <div align="center"><h5>{{livraison.adresse_arrivee}}</h5></div>
                              <div align="center">Le</div>
                              <div align="center"><h5>{{livraison.date}} à {{livraison.depart}}</h5></div>
                              <div align="center"><h4>{{livraison.prix}} €</h4></div>
                              <div align="center"><h4>Nombre de colis: {{livraison|nb_colis}} </h4></div>
                              <div align="center">
                                <h5><b>Statut de la commande</b></h5>
                              </div>
                              <div align="center">
                                {{livraison.get_statut_display}}
                              </div>
                              
                              <div align="center">
                              {% if livraison.statut == 0 %}
                              <form action="{% url  'charge_livraison' %}" method="post">
                                {% csrf_token %}
                                    <input type="number" hidden value="{{livraison.id}}" id="livraison_id" name="livraison_id">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-label="Payer"
                                        data-description="Paiement"
                                        data-amount="{{livraison.prix|get_stripe_price}}"
                                        data-currency="eur"
                                        data-locale="fr">
                                    </script>
                              </form>
                              {% elif livraison.statut == 1 %}
                                {% if request.user|is_inst_client %}
                                <form action="{% url  'refund_livraison' %}" method="post">
                                  {% csrf_token %}
                                  <input type="number" hidden value="{{livraison.id}}" id="livraison_id" name="livraison_id">
                                  <button class="btn" style="background-color: #454243; color:#fff">Annuler</button>
                                </form>
                                {% else %}
                                <form action="{% url  'terminer_livraison' %}" method="post">
                                  {% csrf_token %}
                                  <input type="number" hidden value="{{livraison.id}}" id="livraison_id" name="livraison_id">
                                  <button class="btn" style="background-color: #454243; color:#fff">Terminer</button>
                                </form>
                                {% endif %}
                              {% elif livraison.statut == 2 %}
                                <div align="center">
                                    <h5><b>{{livraison.prix|get_stripe_refund_price}} € remboursée</b></h5>
                                </div>
                              {% else %}
                                <div align="center">
                                    <h5></h5>
                                </div>
                              {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block javascript %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock %}