
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        const mb_source = document.querySelector("#mapbox-directions-origin-input .mapboxgl-ctrl-geocoder input");
        const mb_destination = document.querySelector("#mapbox-directions-destination-input .mapboxgl-ctrl-geocoder input");
        const sp_adresse_depart = document.getElementById('id_adresse_depart');
        const sp_adresse_arrivee = document.getElementById('id_adresse_arrivee');
        const sp_prix = document.getElementById('id_prix');
        const sp_type = document.getElementById('id_type');
        var selectedValue = sp_type.options[sp_type.selectedIndex].value;
       
        const sp_cost_hybrid = document.getElementById('cost_hybrid');
        const sp_cost_electric = document.getElementById('cost_electric');
        const sp_cost_shared = document.getElementById('cost_shared');
        switch(selectedValue){
            case "0":
                sp_prix.value = sp_cost_electric.textContent;
                break;
            case "1":
                sp_prix.value = sp_cost_hybrid.textContent;
                break;
            case "2":
                sp_prix.value = sp_cost_shared.textContent;
                break;
        }
        sp_adresse_depart.textContent = mb_source.value;
        sp_adresse_arrivee.textContent = mb_destination.value;
    });
    $('input[id=id_aller_retour]').change(function() {
        const sp_prix = document.getElementById('id_prix');
        const sp_cost_hybrid = document.getElementById('cost_hybrid');
        const sp_cost_electric = document.getElementById('cost_electric');
        const sp_cost_shared = document.getElementById('cost_shared');
        const sp_type = document.getElementById('id_type');
        var selectedValue = sp_type.options[sp_type.selectedIndex].value;
        switch(selectedValue){
            case "0":
                sp_prix.value = sp_cost_electric.textContent;
                break;
            case "1":
                sp_prix.value = sp_cost_hybrid.textContent;
                break;
            case "2":
                sp_prix.value = sp_cost_shared.textContent;
                break;
        }
        if ($(this).is(':checked')) {
            sp_prix.value = sp_prix.value * 2;
        } 
    });
  //Date d'embauche en datepicker
  Helpers.DatePicker('date');

  //Définir spcécifiquement la taille du popup modal
  $('.modal-dialog').css('max-width', '900px');
  $('.modal-dialog').css('margin-top', '200px');
  
</script>
{% endblock %}

{% load widget_tweaks %}

<div class="container">
  <div class="row">
      <div class="form-group col-sm-3">
          <i class="required_field">*</i>
          <label for="{{ form.adresse_depart.id_for_label }}">{{ form.adresse_depart.label_tag }}</label>  
          {% render_field form.adresse_depart  class+="form-control" %}
      </div>
      <div class="form-group col-sm-3">
          <i class="required_field">*</i>
          <label for="{{ form.adresse_arrivee.id_for_label }}">{{ form.adresse_arrivee.label_tag }}</label>  
          {% render_field form.adresse_arrivee  class+="form-control" %}
      </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2">
        <i class="required_field">*</i>
        <label for="{{ form.type.id_for_label }}">{{ form.type.label_tag }}</label>
        {% render_field form.type  class+="form-control" %}
    </div>
      <div class="form-group col-sm-2">
          <i class="required_field">*</i>
          <label for="{{ form.nb_passager.id_for_label }}">{{ form.nb_passager.label_tag }}</label>
          {% render_field form.nb_passager  class+="form-control" %}
      </div>
      <div class="form-group col-sm-2">
          <i class="required_field">*</i>
          <label for="{{ form.prix.id_for_label }}">{{ form.prix.label_tag }}</label>
          {% render_field form.prix  class+="form-control" %}
      </div>
  </div>
  <div class="row">
      <div class="form-group col-sm-3">
        <i class="required_field">*</i>
        <label for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
        {% render_field form.date  class+="form-control" %}
      </div>
      
      <div class="form-group col-sm-3">
        <i class="required_field">*</i>
        <label for="{{ form.depart.id_for_label }}">{{ form.depart.label_tag }}</label>
        {% render_field form.depart  class+="form-control" %}
      </div>
  </div>
  <div class="row">   
      <div class="col-sm-3" style="margin-top: 15px;">
        <div class="form-check">
          <label class="form-check-label">
            {% render_field form.aller_retour class+="form-check-input" %}
            <span class="form-check-sign" style="margin-left: 20px;">{{ form.aller_retour.label }}</span>
          </label>
        </div>
      </div>
  </div>
</div>

