{% load helper_filter %}

<html>
	<head>
	  <title>FACTURE</title>
	  <style>
		@page {
		size: a3;
		margin: 0.5cm;
		}
		
		@font-face {
		font-family: "Verdana";
		src: url("verdana.ttf");
		}
		
		html {
		font-family: Verdana;
		font-size: 11pt;
		}
		
		body {
		  background-color: #ffffff;
		}
	  </style>
	</head>
	<body>
	<br>	
		<h1 style="text-align: right;margin-right: 40px;"><strong>Facture</strong></h1>
		<h4 style="text-align: left; color: #790d28;margin-left: 40px;"><strong>INTELLIGENT MOBILITY TECHNOLOGIES</strong></h4>
		<br><br>
		Date facture: {{location.date_created}}
		<h5 style="text-align: right;margin-right: 40px;">{{location.client.first_name}} {{location.client.last_name}}</h5>
		<br>
		Facture numéro: {{location.date_created|get_invoice_date}}{{location.id}} 
		<br>
		Date de location: du {{location.debut}} au {{location.fin}} 
		<br>
		Total: <b>{{location.get_total}} €</b>
		<br><br>
		Voici les détails de votre commande
		<br>
		<table class="table mb-0 nowrap border-dashboard-content" id="content-table" border="0" width="100%" cellspacing="0">
			<thead class="thead-default">
			  <tr style="border-bottom: 1pt solid #000000;">
				<th style="width: 500px;text-align: left;">Description</th>
				<th class="text-center">Quantité</th>
				<th class="text-center">Total HT</th>
				<th class="text-center">TVA 10%</th>
				<th class="text-center">Total TTC</th>
			  </tr>
			</thead>
			<tbody>
					<tr style="padding-top: 5px;background-color: #d5d4d4;">
						<td><em class="text-primary">Location de flottes du {{ location.debut }}</em><br> au {{ location.fin }}<br></td>
        				<td align="center" ></td>
        				<td align="center" ></td>
        				<td align="center" ></td>
        				<td align="center" ></td>
					</tr>
					{% for det in details %}
					<tr style="padding-top: 5px;background-color: #d5d4d4;">
						<td><em class="text-primary">Véhicule de type: {{ det.get_type_display }}</em></td>
        				<td align="center" >{{ det.quantite }}x</td>
        				<td align="center" >{{ det.prix|get_ht }} €</td>
        				<td align="center" >{{ det.prix|get_tva }} €</td>
        				<td align="center" >{{ det.prix }} €</td>
					</tr>
					{% endfor %}
			</tbody>
		  </table> 
		  <br>
		  <hr>
		  <table class="table mb-0 nowrap border-dashboard-content" id="content-table" border="0" width="100%" cellspacing="0">
			<thead class="thead-default">
			  <tr >
				<th style="text-align: left;"></th>
				<th style="text-align: right;"></th>
			  </tr>
			</thead>
			<tbody>
					<tr style="padding-top: 5px;">
        				<td align="left" >Total HT</td>
        				<td align="right" ><b>{{ location.get_total|get_ht }} €</b></td>
					</tr>
					<tr style="padding-top: 5px;">
        				<td align="left" >TVA 10%</td>
        				<td align="right" ><b>{{ location.get_total|get_tva }} €</b></td>
					</tr>
					<tr style="padding-top: 5px;">
        				<td align="left" >Total TTC</td>
        				<td align="right" ><b>{{ location.get_total }} €</b></td>
					</tr>
			</tbody>
		  </table>
		  <br><br>
		  Mode de paiement: <b>{{ location.get_mode_paiement_display }}</b>
		  <hr>
		  <br>
		  <div style="margin-top: 600px;font-size: small;">
			<b>INTELLIGENT MOBILITY TECHNOLOGIES</b>
			<br>
			102 Avenue des Champs Elysées, 75008, Paris - Tel: 0189168538
			<br>
			Email: imobilitydemand@inhome-imobility.com
			<br>
			N° SIRET: 80919019200017 N° TVA: FR74851718544 Banque/IBAN: QONTO, FR76 1695 8000 0155 3776 8028 408
		  </div>
	</body>
</html>		
		