{% block javascript %}
<script type="text/javascript">
  $('.modal-dialog').css('margin-top', '200px');
</script>
{% endblock %}
<form method="post" action="{% url 'virement' obj.pk %}" class="js-entity-update-form">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title"><i class="fa fa-indent"></i>&nbsp;Payer par virement</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fermer">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <h4>Merci d'avoir passée votre commande.</h4>
       <h5>Vous pouvez faire le virement sur le compte suivant:</h5>
       <h5>QONTO, FR76 1695 8000 0155 3776 8028 408</h5>
       <h5>Puis, veuillez confirmer votre virement par mail à l'adresse suivante:</h5>
       <h5>{{email}}.</h5>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row float-right" >
          <div class="col-sm-12">  
            <button type="submit" class="btn btn-primary btn-round ml-auto btn-fixe-size-min"> <i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            <button type="button" class="btn btn-secondary btn-round ml-auto btn-fixe-size-min" data-dismiss="modal"><i class="fa fa-undo"></i>&nbsp;Annuler</button>
          </div>
        </div>
      </div>
    </div>
</form>