{% extends "base.html" %}

{% load humanize %} 

{% load static %}

{% block content %}		
    <div class="content">
		<div class="row">
            <div class="col-sm-12" style="color: #fff; padding-left: 20px;">
                <div align="left">
                    <h3><span style="color: #454243;"><b>Réservation de lignes régulières</b></span></h3>
                </div>
                <br/>
                {% for ligne in lignes %}
                <div class="col-6 col-sm-4 col-lg-2">
                    <div class="card card-primary bg-danger-gradient">
                        <div class="card-body curves-shadow">
                            <img style="height: 175px; width: 100%;" src="{% static '/img/demand_hybrid1.jpg' %}" alt="EXCLUSIV ON DEMAND (HYBRID)"></img>
                            <div align="center" style="margin-top: 10px;">De</div>
                            <div align="center"><h4>{{ligne.adresse_depart}} - {{ligne.adresse_depart.depart}}</h4></div>
                            <div align="center">Vers</div>
                            <div align="center"><h4>{{ligne.adresse_arrivee}} - {{ligne.adresse_arrivee.arrivee}}</h4></div>
                            <!-- <h5 class="op-8">Ceci est un test</h5> -->
                            <div align="right"><button class="btn btn-large btn-success">Commander <span style="padding-left: 5px;"><i class='fa fa-check' style='color:#ffffff;'></i></span></button></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock content %}

{% block javascript %}


{% endblock %}