{% load static %}

{% block message %}
  {% for obj in lst_message %}
    <div class="message">
      <div class="pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="{% static '/img/avatars/homme.jpg' %}" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status badge-secondary"></span>
        </div>
      </div>
      <div>
        <small class="text-muted"><strong>{{ obj.user_create | capfirst }}</strong></small>
      </div>
      <div class="text-primary" style="font-size: 12px;">{{ obj.message }}</div>
      <small class="text-muted"><span style="font-size: 9px;">{{ obj.date_create | date:"d/m/Y H:m:s" }}</span></small>
    </div>
    <hr>
  {% empty %}
    <small class="text-muted">Aucun message</small>
  {% endfor %}
{% endblock %}