{% load static %}


<div class="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<!-- <li class="nav-item nav-dropdown">
				<a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-dashboard p-dark" aria-hidden="true"></i>Tableau de bord</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item">
						<a class="nav-link" href="#">&nbsp; &#x2023; &nbsp;Evaluation Prime</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">&nbsp; &#x2023; &nbsp;Entretien Individuel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">&nbsp; &#x2023; &nbsp;Evaluation Formation</a>
					</li>
				</ul>
			</li> -->

			


			<li class="divider"></li>
		</ul>
	</nav>
	<button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>