{% for det in details %}
    <tr>
        <td><div>{{ det.vehicule }}</div></td>
        <td class="text-center">
            {% if request.user.is_superuser %}
            <button type="button" title="Supprimer details"
                enabled='enabled'
                class="btn btn-danger btn-sm js-delete-entity"
                onclick="DeleteDetails('{{ obj.id }}','{{ det.id }}')">
                <span class="fa fa-trash"></span> <!--Suppr-->
            </button>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center"><h4 class="text-danger">En attente d'allocation</h></td>
    </tr>
{% endfor %}