{% block javascript %}
  <script type="text/javascript">
    function InitializeFields() {
      // Reinitiliser les champs de saisie
      $("#id_vehicule").val('');
    }

    function AddDetails(id_flotte) {
      var id_vehicule = $("#id_vehicule").val()

      if(id_vehicule === ""){
        return Helpers.ShowMessageAlert("&nbsp; Le véhicule est requis &nbsp;");
      }

      // Performe save
      $.ajax({
        url : "{% url 'allocation_flotte_create' %}",
        type : "POST",
        data : {"id_flotte" : id_flotte,
                "id_vehicule" : id_vehicule
        },
        dataType : "json",
        success : function(data){
          if (data['error'] != undefined) {
            return Helpers.ShowMessageAlert(data['error']);
          } else {
            $("#id-details-entity-table" + " tbody").html(data.html_content_list);
            InitializeFields();            
          }
        }
      });
    }

    function DeleteDetails(id_flotte, id_detail){   
      $.ajax({
        url : "{% url 'allocation_flotte_delete' %}",
        type : "POST",
        data : {"id_flotte" : id_flotte, "id_detail": id_detail},
        dataType : "json",
        success : function(data){
            $("#id-details-entity-table" + " tbody").html(data.html_content_list).promise().done(function(){
              InitializeFields();
            });
          }
      });
    }
    $('.modal-dialog').css('margin-top', '200px');
  </script>
{% endblock %}

{% load flotte_filter %}

{% load widget_tweaks %}

<form>
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-map-o"></i>&nbsp;Allocation de véhicules</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% if request.user.is_superuser %}
    <div class="form-group bg-light" style="padding-top: 5px;">
      <div class="row">
        <div class="form-group col-sm-12">
          <p>
            <label for="{{ form.vehicule.id_for_label }}">{{ form.vehicule.label_tag }}</label>
            {% render_field form.vehicule class+="form-control" %}
          </p>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-8">
          <p>
          </p>
        </div>
        <div class="form-group col-sm-3">
          <p>
          </p>
        </div>
        <div class="form-group col-sm-1" style="padding-top: 18px; padding-bottom: 18px;">
          <button type="button" title="Ajouter details" 
            enabled='enabled' 
            class="btn btn-success float-right" onclick="AddDetails('{{ obj.id }}')">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div> 
    <br>
    {% endif %}
    <div class="form-group row">
      <div class="form-group col-sm-12" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-hover table-bordered table-striped table-outline mb-0 nowrap" id="id-details-entity-table" width="100%" cellspacing="0">
          <thead class="thead-default">
            <tr>
              <th class="text-center">Véhicules</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% include 'composantes/allocation_flotte/content.html' %}
          </tbody>
        </table>  
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="message_fade" class="float-left text-white bg bg-danger" style="display:none;"></div>

    <!-- L'event onclick est tres important pour le rafraichissement de la liste (rechargement du composante) -->
    <button type="button" class="btn btn-secondary btn-round ml-auto" data-dismiss="modal" onclick="location.href='{% url 'flotte_list' %}'"><i class="fa fa-close"></i>&nbsp;Fermer</button>
  </div>
</form>